### 1. JAVA TEMPLATE
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore everything inside ffmpeg folder
ffmpeg/** 
*.exe

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

### 2. MAVEN TEMPLATE

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


### 3. VIDEO FILES

*.mp4
*.avi
*.mkv
*.mov
*.flv
*.webm
*.m4v
*.mpg
*.mpeg


### 4. INTELLIJ IDEA / JETBRAINS TEMPLATE

.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iws
*.iml
*.ipr
out/


### 5. VS CODE TEMPLATE
.vscode/
*.code-workspace

### 6. OPERATING SYSTEM FILES

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
